<nav class="navbar navbar-expand-lg navbar-light">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1>BLACKZOID</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><a class="dropdown-item" href="#">C</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Do It Yourself
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><a class="dropdown-item" href="#">C</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Free Templates
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><a class="dropdown-item" href="#">C</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Your Legal Rights
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><a class="dropdown-item" href="#">C</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For Lawyers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">A</a></li>
            <li><a class="dropdown-item" href="#">B</a></li>
            <li><a class="dropdown-item" href="#">C</a></li>
          </ul>
        </li>
      </ul>
      <button background-color="primary" color="primary" mat-raised-button> FREE ADVICE</button>
      <section class="home">
        <img src=" ">
        <div class="homecontent">
        <h2>Know Your Legal Rights</h2>
        
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Which legal service are you looking for?">
        </div>

      
      <br>
      
      






      
      <div align:center class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">DIVORSE</button>
          <button type="button" class="btn btn-secondary">INSURANCE</button>
          <button type="button" class="btn btn-secondary">ELECTRICITY</button>
          <button type="button" class="btn btn-secondary">FREE ADVICE</button>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
        </div>
      </div>
      
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary">DIVORSE</button>
          <button type="button" class="btn btn-secondary">INSURANCE</button>
          <button type="button" class="btn btn-secondary">ELECTRICITY</button>
          <button type="button" class="btn btn-secondary">FREE ADVICE</button>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
        </div>
          
        
        
      </div>
    </div>
    
    </section>
      
    </div>
  </div>
</nav>